# Set lab assignment

##### Name : Cameline Njoroge

#### Objective 
- To show my understanding of sets

In [ ]:
## listing the sets and the universal set 

# Set A: Even numbers between 1 and 10
A = {2, 4, 6, 8, 10}
# Set B: {3, 8, 11, 12}
B = {3, 8, 11, 12}
# Set C: {2, 3, 6, 8, 9, 11}
C = {2, 3, 6, 8, 9, 11}
# Universal set U: positive integers between 1 and 12
U = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [ ]:

# A ∩ B: Intersection of A and B – elements common to both sets
ans1= {8}

# A ∪ C: Union of A and C – all unique elements from both sets
ans2= {2, 3, 4, 6, 8, 9, 10, 11}

# Aᶜ: Complement of A – elements in the universal set U that are not in A
ans3 = {1, 3, 5, 7, 9, 11, 12}

# Bᶜ: Complement of B – elements in U that are not in B
ans4 = {1, 2, 4, 5, 6, 7, 9, 10}

# (A ∪ B)ᶜ: Complement of the union of A and B – elements in U not in A or B
ans5= {1, 5, 7, 9}

# B ∩ Cᶜ: Elements in B that are not in C (difference of B and C)
ans6 = {12}

# A \ B: Elements in A that are not in B (difference of A and B)
ans7 = {2, 4, 6, 10}

# C \ (B \ A): Elements in C that are not in (B minus A)
ans8 = {2, 6, 8, 9}

# (C ∩ A) ∪ (C \ B): Elements common to C and A OR elements in C not in B
ans9 = {2, 6, 8, 9}

##### verification with python

In [50]:

A_inters_B = A & B
A_inters_B == ans1

True

In [51]:

A_union_C = A | C
A_union_C == ans2

True

In [52]:

A_comp = U - A
A_comp == ans3

True

In [53]:

B_comp = U - B
B_comp == ans4

True

In [54]:

A_union_B_comp = U - (A | B)
A_union_B_comp == ans5

True

In [55]:

B_inters_C_comp =B - C
B_inters_C_comp == ans6

True

In [ ]:

compl_of_B = A-B
compl_of_B == ans7

True

In [30]:

C_compl_B_compl_A = C - (B - A)
C_compl_B_compl_A == ans8

True

In [29]:

C_inters_A_union_C_min_B = (C & A) | (C - B)
C_inters_A_union_C_min_B == ans9

True

#### The inclusion exclusion principle
- Verify the Inclusion-Exclusion Principle for sets A, B, and C
- This principle ensures that the total number of unique elements across all sets
- is calculated accurately by accounting for overlaps (intersections)
##### ∣A∪B∪C∣=∣A∣+∣B∣+∣C∣−∣A∩B∣−∣A∩C∣−∣B∩C∣+∣A∩B∩C∣

In [ ]:
left_hand_eq = len(A | B | C)
right_hand_eq = (
    len(A) + len(B) + len(C)
    - len(A & B) - len(A & C) - len(B & C)
    + len(A & B & C)
)

print(left_hand_eq)        
print(right_hand_eq)        
print(left_hand_eq == right_hand_eq)

9
9
True

 ### Set in python

In [ ]:
#The list of pets owned by the girls  people
# The remeoval of the turtle from Eve's set
Nina = set(["Cat","Dog","Rabbit","Donkey","Parrot", "Goldfish"])
Mary = set(["Dog","Chinchilla","Horse", "Chicken"])
Eve = set(["Rabbit", "Turtle", "Goldfish"])
Eve.discard("Turtle")
print(Eve)

{'Rabbit', 'Goldfish'}

In [ ]:
#adding Marys animals to nina 
Nina.update(Mary)
print(Nina)

{'Cat', 'Chicken', 'Dog', 'Donkey', 'Rabbit', 'Parrot', 'Horse', 'Chinchilla', 'Goldfish'}

In [ ]:
# Emptying Mary's set as she is away 
Mary.clear()
print(Mary)

set()

In [ ]:
# Counting the number of species in Nina's set
n_species_Nina = len(Nina)
print(n_species_Nina)

9

In [ ]:
# Removing Eve's pets from Nina's set
Nina.difference_update(Eve)
print(Nina)

{'Cat', 'Chicken', 'Dog', 'Donkey', 'Parrot', 'Horse', 'Chinchilla'}

####  Highway exit problem

In [ ]:
# set  of all possible outcomes assuming that all three cars drive in the same direction.
setA = {(L , L , L ), (S, S, S), (R, R, R)}

# setB: All possible outcomes with different directions
setB = {(L, S, R), (L, R, S), (S, L, R), (S, R, L), (R, L, S), (R, S, L)}

# SetC: All possible outcomes with two cars driving in the same direction
SetC = {(R, R, L), (R, R, S), (L, R, R), (S, R, R), (R, L, R), (R, S, R)}

# SetD: All possible outcomes with one car driving in a different direction
SetD = {
    ('L', 'L', 'S'), ('L', 'S', 'L'), ('S', 'L', 'L'),
    ('L', 'L', 'R'), ('L', 'R', 'L'), ('R', 'L', 'L'),
    ('S', 'S', 'L'), ('S', 'L', 'S'), ('L', 'S', 'S'),
    ('S', 'S', 'R'), ('S', 'R', 'S'), ('R', 'S', 'S'),
    ('R', 'R', 'L'), ('R', 'L', 'R'), ('L', 'R', 'R'),
    ('R', 'R', 'S'), ('R', 'S', 'R'), ('S', 'R', 'R')
}

In [ ]:
# D ′: The complement of D

D'= {
    ('L', 'L', 'L'), ('S', 'S', 'S'), ('R', 'R', 'R'),
    ('L', 'S', 'R'), ('L', 'R', 'S'), ('S', 'L', 'R'),
    ('S', 'R', 'L'), ('R', 'L', 'S'), ('R', 'S', 'L')
}

In [ ]:
# 𝐶 ∩ 𝐷 C∩D: Intersection of C and D
C ∩ D = {
    ('R', 'R', 'L'), ('R', 'R', 'S'), 
    ('L', 'R', 'R'), ('S', 'R', 'R'), 
    ('R', 'L', 'R'), ('R', 'S', 'R')
}

In [ ]:
# 𝐶 ∪ 𝐷 C∪D: Union of C and D
C ∪ D = {
    ('L', 'L', 'S'), ('L', 'S', 'L'), ('S', 'L', 'L'),
    ('L', 'L', 'R'), ('L', 'R', 'L'), ('R', 'L', 'L'),
    ('S', 'S', 'L'), ('S', 'L', 'S'), ('L', 'S', 'S'),
    ('S', 'S', 'R'), ('S', 'R', 'S'), ('R', 'S', 'S'),
    ('R', 'R', 'L'), ('R', 'L', 'R'), ('L', 'R', 'R'),
    ('R', 'R', 'S'), ('R', 'S', 'R'), ('S', 'R', 'R')
}

In [ ]:
import pandas as pd

# Load Europe and EU
europe = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'Europe') 
eu = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'EU')

# Clean the 'Country' column by stripping whitespace
europe['Country'] = europe['Country'].str.strip()
eu['Country'] = eu['Country'].str.strip()

# Create sets for Europe and EU countries
europe_set = set(europe['Country'])
eu_set = set(eu['Country'])

In [ ]:

eu.head(3)

,Rank,Country,2017 population,% of pop.,Average relative annual growth,Average absolute annual growth,Official figure,Date of last figure,Source
0,1,Germany,82800000,16.18,0.76,628876,82576900,2017-03-31,Official estimate
1,2,France,67210459,13.10,0.40,265557,67174000,2018-01-01,Monthly official estimate
2,3,United Kingdom,65808573,12.86,0.65,428793,65648100,2017-06-30,Official estimate

In [45]:
europe.head(3)

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]

In [ ]:
# Check to confirm that the EU countries are a subset of countries in Europ
print(eu_set.issubset(europe_set))

True

In [ ]:
## Find the set of countries that are in Europe but not the EU
non_eu_countries = europe_set - eu_set
print(non_eu_countries)

{'Monaco', 'Georgia', 'Iceland', 'Bosnia and Herzegovina', 'Switzerland', 'Andorra', 'Albania', 'Macedonia', 'Russia', 'Guernsey (UK)', 'Vatican City', 'Jersey (UK)', 'Belarus', 'Serbia', 'Moldova', 'Isle of Man (UK)', 'Faroe Islands (Denmark)', 'Norway', 'Armenia', 'Åland Islands (Finland)', 'Liechtenstein', 'Svalbard (Norway)', 'Montenegro', 'Gibraltar (UK)', 'San Marino', 'Turkey', 'Ukraine', 'Kosovo', 'Azerbaijan'}